body {
  background-color: #e5e5e5;
  color: #757575;
  font-family: Roboto, sans-serif;

  --link-color: #2196f3;
  --title-color: #212121;
  --button-color: #ffffff;
}

/*Logo*/

.logo {
  text-decoration: none;
}

.logo-web {
  color: var(--link-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
}

.logo-studio {
  color: #000000;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
}

/* site-nav*/

.site-nav {
  list-style: none;
}

.site-nav .link {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--link-color);
}

.site-nav .link.current {
  color: var(--link-color);
}

.auth-nav {
  list-style: none;
}

.auth-nav .links {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
}

.auth-nav .links:hover,
.auth-nav .links:focus {
  color: var(--link-color);
}

/* hero */

.hero-title {
  color: var(--button-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
}

.hero-button {
  color: var(--button-color);
  background-color: var(--link-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-decoration: none;
}

/*section*/

.section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/*features*/

.features {
  list-style: none;
}

.features-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/*activity*/

.activity {
  list-style: none;
}

.activity-title {
  color: var(--button-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}

/*team*/

.team {
  list-style: none;
}

.team-name {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.social {
  list-style: none;
}

.clients {
  list-style: none;
}

/*Foter*/

.footer-address {
  color: var(--button-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.footer-call {
  color: var(--button-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}

.developed {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
}

/*---styles portfolio--*/

/*filter*/

.filter {
  list-style: none;
}

.filter-button {
  color: var(--title-color);
  background: #f5f4fa;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--button-color);
  background: var(--link-color);
}

/*project*/

.projects {
  list-style: none;
}

.projects-link {
  text-decoration: none;
}
.projects-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.projects-text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}

.project-fish {
  color: var(--button-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}
