body {
  background-color: #e5e5e5;
  color: #757575;
  font-family: Roboto, sans-serif;
}

/*Logo*/

.logo-web {
  color: #2196f3;
  font-family: Raleway;

  font-size: 26px;
  line-height: 1.2;
}

.logo-studio {
  color: #000000;
  font-family: Raleway;

  font-size: 26px;
  line-height: 1.2;
}

/* site-nav*/

.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.current {
  color: #2196f3;
}

/* hero */

.hero-title {
  color: #ffffff;
}

.hero-button {
  color: #ffffff;
  background-color: #2196f3;
}

/*section*/

.section-title {
  color: #212121;
}

/*features*/

.features-title {
  color: #212121;
}

/*activity*/

.activity-title {
  color: #ffffff;
}

/*team*/

.team-name {
  color: #212121;
}

/*---styles portfolio--*/

/*filter*/

.filter-button {
  color: #212121;
  background: #f5f4fa;
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background: #2196f3;
}

/*progect*/

.projects-title {
  color: #212121;
}
